@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Protest+Revolution&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  /* Body Styles */
  body {
    font-family: 'Lobster', sans-serif;
    line-height: 1.6;
    background-color: #3c3a5f;
    color: #333;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-family: 'Protest Revolution', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }

  h1:hover {
    transform:scale(1.2) /* Rotate the text on hover */
  }
  
  /* Main Styles */
  main {
    max-width: 1800px;
    margin: 10px auto;
    padding: 10px;
  }
  
 
  
  article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #84988f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  article section {
    flex: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  article section p {
    margin-bottom: 20px; /* Add space between paragraphs */
  }
  article section:last-child {
    margin-right: 0;
  }
  
  article section img {
    width: 50%;
    max-width: 100%;
    height: auto;
    align-self: center;
    margin-bottom: 10px; /* Add space between the first image and the second image */
  }
  
  article section a {
    display: flex;
    justify-content: center;
  }
  
  article section a img {
    width: 10%; /* Adjust the percentage for the second image */
    max-width: 100%;
    height: auto;
  }
  
  
  
  article h2{
    text-align: center;
    transition: transform 0.3s ease;
  }
  article h2:hover{
    letter-spacing: .1rem; /* Increase letter spacing on hover */
  }
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  /* Fine Print Styles */
  small {
    font-size: 0.8em;
    color: #888888;
    display: block;
    margin-top: 10px;
  }
  small a{
    color:aqua ;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    main {
      padding: 10px;
    }
  }
  