@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Protest+Revolution&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  
  /* Body Styles */
  body {
    font-family: 'Lobster', sans-serif;
    line-height: 1.6;
    background-color: #3c3a5f;
    color: #333;
  }
  
  /* Header Styles */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-family: 'Protest Revolution', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
  }

  h1:hover {
    transform:scale(1.2) /* Rotate the text on hover */
  }
  
  /* Main Styles */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Article Styles */
  article {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    background-color: #84988f;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
   } 
  article h2{
    text-align: center;
    transition: transform 0.3s ease;
  }
  article h2:hover{
    letter-spacing: .1rem; /* Increase letter spacing on hover */
  }
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  /* Fine Print Styles */
  small {
    font-size: 0.8em;
    color: #888888;
    display: block;
    margin-top: 10px;
  }
  small a{
    color:aqua ;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    main {
      padding: 10px;
    }
  }
  